.message {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 24px;
  font-family: 'Montserrat', sans-serif;
}

.imageAndText {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  gap: 12px;
}

.imageAndText img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.text {
  position: relative;
  background-color: #0066CC;
  color: #FFFFFF;
  padding: 12px 16px;
  border-radius: 14px 14px 0 14px;
  max-width: 540px;
  box-shadow: 0 2px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
}

.text::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -8px;
  width: 8px;
  height: 13px;
  background: linear-gradient(225deg, transparent 50%, #0066CC 50%);
}

.name {
  line-height: 18px;
  margin-bottom: 4px;
  text-align: right;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.messageText {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  white-space: pre-wrap;
  font-family: inherit;
}

.time {
  font-size: 10px;
  line-height: 14px;
  margin-top: 4px;
  margin-right: 60px;
  font-weight: 600;
  color: #000;
}
