.select {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  border: 1px solid #c2c2c2;
  border-radius: 2px;
  width: 165px;
  height: 24px;
  outline-color: transparent;
}

.select:focus {

}


.option:hover {
  border: 1px solid #c2c2c2;
  border-radius: 2px;
  width: 165px;
  height: 24px;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
  background-color: #fff;
}
